.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  max-width: 100%;
  height: 280px;
  order: 2;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: var(--color-darker);
  margin: 0;
  line-height: 1;
  letter-spacing: -0.02em;
}

.fixte {
  font-family: "Merienda", cursive;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 361px;
  height: 138px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 64px;
  padding: 16px;
  height: 57px;
  cursor: pointer;
  border: none;
  background: var(--color-general);
  color: var(--color-white);
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--color-darker);
  color: var(--color-black);
}

.button:focus {
  background-color: var(--color-general);
  color: var(--color-black);
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 6px rgba(78, 70, 180, 0.12);
  outline: none;
}

.registerBtn {
  background-color: transparent;
  border: 1px solid var(--color-general);
  color: var(--color-general);
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerBtn:hover {
  background-color: var(--color-general);
  color: var(--color-white);
  outline: none;
  box-shadow: none; /* вимикаємо тінь при hover */
}

.registerBtn:focus {
  background-color: var(--color-general);
  color: var(--color-white);
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 6px rgba(78, 70, 180, 0.12);
  outline: none;
}

.registerBtn:hover .textRegister,
.registerBtn:focus .textRegister {
  color: var(--color-white);
}

.activeReg {
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 6px rgba(78, 70, 180, 0.12);
}

.text {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  margin: 0;
}

.textRegister {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-general);
  margin: 0;
}

.image {
  width: 361px;
  height: 321px;
  background-image: -webkit-image-set(
    url("../../assets/images/HeroSection/mobalx1.webp") 1x,
    url("../../assets/images/HeroSection/mobalx2.webp") 2x
  );
  order: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 704px;
    position: relative;
    gap: 0;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 434px;
    height: 383px;
    order: 1;
    justify-content: space-between;
  }

  .buttonGroup {
    width: 249px;
    height: 138px;
    gap: 24px;
  }

  .image {
    position: relative;
    z-index: 1;
    width: 430px;
    height: 383px;
    order: 2;
    margin-left: -80px;
    aspect-ratio: 430 / 383;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1224px;
    gap: 45px;
  }

  .content {
    width: 599px;
    height: 389px;
    gap: 56px;
  }

  .title {
    font-weight: 800;
    font-size: 92px;
  }

  .buttonGroup {
    flex-direction: row;
    gap: 24px;
    width: 392px;
    height: 57px;
  }

  .button,
  .registerBtn {
    width: 184px;
    height: 57px;
  }

  .image {
    width: 806px;
    height: 562px;
    background-image: -webkit-image-set(
      url("../../assets/images/HeroSection/desk1x.webp") 1x,
      url("../../assets/images/HeroSection/desk2x.webp") 2x
    );
  }
}
