.articleItem {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 32px;
  padding: 12px;
  width: 100%;
  max-width: 392px;
  height: 492px;
  background-color: var(--color-background);
}

.articleOwner {
  font-weight: 700;
  font-size: 16px;
}

.articleTitle {
  font-weight: 700;
  font-size: 24px;
  width: 264px;
}

.articleDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.articleImage {
  width: 100%;
  height: 233px;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.actions a {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-darker);
  border: 1px solid var(--color-darker);
  border-radius: 64px;
  padding: 8px;
  max-width: 320px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.actions a:hover,
.actions a:focus,
.actions a:active {
  background-color: var(--color-general);
  border: 1px solid var(--color-general);
  color: var(--color-white);
}

/**/
