.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
  width: 100%;
}

.articleImage {
  border-radius: 24px;
  width: 100%;
  max-width: 1226px;
  height: 624px;
  object-fit: cover;
}

.contentBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

@media only screen and (max-width: 1439px) {
  .contentBlock {
    flex-direction: column;
  }
}

.articleText {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  white-space: pre-wrap;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.metaBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 32px;
  padding: 32px 32px 40px 32px;
  min-width: 393px;
  width: 100%;
  height: 551px;
  background-color: var(--color-background);
}

.linkBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.author {
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
  text-decoration-skip-ink: none;
}

.authorName {
  text-decoration: underline;
}

.date {
  font-weight: 700;
  font-size: 16px;
  font-weight: 400;
}

.bottomText {
  font-weight: 700;
  font-size: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.similarArticles {
  border-radius: 32px;
  padding: 16px;
  min-width: 329px;
  height: 109px;
  background: var(--color-white);
}

.titleWithIcon {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: space-between;
  align-items: center;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-darker);
  border-radius: 64px;
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: var(--color-darker);
  stroke: var(--color-darker);
}

.linkButton:hover,
.linkButton:focus,
.linkButton:active {
  background-color: var(--color-general);
  border: 1px solid var(--color-general);
  stroke: var(--color-white);
}

.linkIcon {
  stroke-width: 1px;
  fill: var(--color-default);
  width: 24px;
  height: 24px;
}

.similarArticlesTitle {
  color: var(--color-black);
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.similarArticlesAuthor {
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  margin-top: 8px;
}

.button {
  border-radius: 64px;
  padding: 16px;
  min-width: 379px;
  min-height: 57px;
  background-color: var(--color-general);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-darker);
  border: 1px solid var(--color-darker);
}

.buttonIcon {
  stroke-width: 1px;
  fill: none;
  transition: all 0.3s ease;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
