.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-darker);
  border-radius: 64px;
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  background-color: transparent;
  color: var(--color-darker);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-general);
  border: 1px solid var(--color-general);
  color: var(--color-white);
}

.buttonIcon {
  stroke-width: 1px;
  fill: none;
  transition: all 0.3s ease;
}
